{% extends 'admin_panel_base.html' %}

{% block registration %}
<div class="container my-3">
    <div class="container my-5">
      
      <h2>Регистрация нового Филиала</h2>
      <form action="createOffice" method="post">
        <div class="mb-3">
          <label for="city" class="form-label">Город филиала:</label>
          <input type="text" class="form-control" id="city" name="city" placeholder="Введите город" required>
        </div>
          <label for="location" class="form-label">Директор филиала:</label>
          <input type="text" class="form-control" id="location" name="location" placeholder="Введите ФИО" required>
        </div>
        <div class="row">
          <div class="col-md-6">
            <button type="submit" class="btn btn-primary">Зарегистрировать</button>
          </div>
        </div> 
      </form>
    </div>
  </div>
  
{% endblock %}

